################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Distributed/v15
/packages
/src/Agent/bin/Debug
/src/Agent/obj/Debug
